
<div class="wrapper clearfix wrapper_padding">
  <div class="col-1 about homepage_content">
    <h2>Information Security - 249 </h2>
    <hr>
    <p> This page was made for Information Security - 249</p>
  </div>
  <div class="col-2 homepage_content">
    <h2> Articles </h2>
    <hr>

    <% @posts.each do |post| %>
      <h3><a href='#'><%=link_to post.title, post %> </a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>

  </div>

</div>
